* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

header {
    height: 80px;
    line-height: 80px;
    background-color: #f9af2b;
    color: white;
}

#men-title {
    width: 98%;
    margin: 0 auto;
}

#app {
    background-color: #FCE796;
    height: calc(100vh - 80px);
    font-size: 18px;
}

#memo {
    width: 85%;
    margin: 0 auto;
    padding: 40px;
}

#memo-list {
    list-style-type: none;
}

#memo-list li {
    padding: 15px;
}

#memo-list li:not(:last-child) {
    border-bottom: 1px solid black;
}

#new-sez {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.filter {
    background-color: rgba(0,0,0,0.3);
}

/**BUTTON**/
.new-memo {
    position: fixed;
    bottom: 15px;
    right: 25px;
    border: none;
    background-color: #f9af2b;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 250ms ease-in-out,
                   transform 150ms ease;
       -webkit-appearance: none;
       -moz-appearance: none;
}

.new-memo.ok {
    right: 95px;
}

.new-memo:hover,
.new-memo:focus {
   background: #f9af2b;
}

.new-memo:focus {
   outline: none;
}

.new-memo:active {
   transform: scale(0.80);
}

.fa-plus, .fa-times, .fa-check {
    font-size: 30px;
}

/**END-BUTTON**/

#new-write {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
